%tr.task
  %td.span1
    = render partial: "tasks/complete_btn", locals: {task: task}

  %td.span1
    = render partial: "tasks/like", locals: {task: task}

  %td.span6
    = render partial: "tasks/name", locals: {task: task}

  %td.span1
    .subtasks.badge
      = task.descendants.count

  %td.span2
    .stages
      - @stages.each do |s|
        .stage{class: task.stage_tense(s), style: "background-color:#{s.color};"}

  %td.span1
    .controls
      = render partial: "tasks/delete-btn", locals: {task: task}
