= render partial: "pages/breadcrumbs", locals: {crumbs: crumbs(@task)}
.task-header.row-fluid
  .span1
    = render partial: "tasks/complete_btn", locals: {task: @task}

  .span10
    %h3
      = render partial: "tasks/name", locals: {task: @task}

  .span1
    = render partial: "tasks/delete-btn", locals: {task: @task}

= render partial: "tasks/list", locals: {task: @task, tasks: @tasks}

%h4 Comments

%ul.comments
  - @task.comments.each do |comment|
    %li
      .comment
        = comment.comment
      .info
        = comment_info comment

= form_for Comment.new, url: comments_create_path, method: :get do |f|
  .input-append.row-fluid
    = f.hidden_field :task_id, value: @task.id
    = f.text_field :comment, placeholder: "Leave a comment", class: "span11"
    = f.submit :Comment, class: :btn

%h4 Change Log

%ul.versions
  - @task.versions.each do |version|
    %li
      = version_desc version
