<!DOCTYPE html>
<html>
<head>
  <title>Todo</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <div class="nav pull-left">
          <h1>
            <a href="/">ToDo</a>
          </h1>
        </div>
        <% if user_signed_in? %>
          <div class="nav-collapse collapse">
            <ul class="nav pull-right">
              <li>
                <div class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <%= current_user.company.name %> 
                  </a>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                    <% current_user.companies.each do |company| %>
                      <li><a tabindex="-1" href="#">
                        <%= link_to company.name, company_enter_path(company) %>
                      </a></li>
                    <% end %>
                  </ul>
                </div>
              </li>
              <li class="divider-vertical"></li>
              <li>
                <%= link_to current_user.email, root_path %>
              </li>
              <li class="divider-vertical"></li>
              <li>
                <%= link_to "Logout", destroy_user_session_path, method: :delete %>
              </li>
            </ul>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
